* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Work Sans";
}

a {
    text-decoration: none;
}

body {
    background-color: #eaecff;
}

.logo {
    position: absolute;
    width: auto;
    height: 100px;
    z-index: 10;
    background-color: #e69138;
    border-radius: 0px 0px 40px 0px;
    padding: 5px 20px 20px 5px;
}

.background_image {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #eaecff;
    box-shadow: 0px 2px 10px 0px gainsboro;
    height: 500px;
}

.background_image_div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 200px;
}

.background_image_h2 {
    font-size: 40px;
    color: #351c75;
    border-radius: 10px;
    width: auto;
    padding: 10px 20px;

}

.background_image_h4 {
    font-size: 30px;
    margin: 20px auto;
    color: #e69138;
}

.right_maunten {
    display: flex;
    width: 210px;
    height: 500px;
    border-left: 2px solid gainsboro;
    background-color: #eaecff;
    padding: 20px 0px;
    transition: all .4s;

}

.right_maunten:hover {
    background-color: #e0e4fc;
    cursor: pointer;
}

.right_maunten ul li {
    margin-left: 20px;
    list-style: none;
    line-height: 99px;
    font-weight: bold;
    color: #565454;
    transition: all .4s;
    border-bottom: 1px solid gainsboro;
}

.right_maunten ul li:hover {
    color: #27057c;
    cursor: pointer;
}

.scroll_down {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #fcfdfd;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.scroll_down h2 {
    color: #ce8908;
    font-size: 25px;
}

.scroll_down img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    /* background-color: #fff; */
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #fff !important;
    border-radius: 20px 20px 20px 20px;
    font-size: 12px;
}

.js_and_css_button {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 20px 0px;
    height: 100px;
    width: 100%;
    background-color: #e6f8f5;
    /* box-shadow: 0px 2px 10px 0px grey; */
    border-bottom: 1px solid gainsboro;
}

.js_and_css_button_one {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #f5850c;
    /* background-color: transparent; */
    font-size: 20px;
    padding: 20px 40px;
    /* border: 1px solid rgb(105, 99, 91); */
    border-radius: 10px;
    transition: all .3s;
    text-decoration: none;
}

/* 
.js_and_css_button_border {
    width: 1px;
    height: 80px;
    border-left: 1px solid gray;
} */

.js_and_css_button_one:hover {
    /* background-color: #0a5ffc; */
    cursor: pointer;
}



/* ------------------js_and_css_button------------------------------ */
.SOURCES_color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    color: #e69138;
}

.SOURCES_color h4 {
    color: rgb(250, 248, 248);
    width: auto;
    font-size: 20px;
}

.MORE_OPTIONS {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-size: 22px;
    text-align: center;
    color: #565454;
    border-bottom: 3px solid #565454;
    border-top: 3px solid #565454;
}

.arrow_color {
    color: #565454;
    transition: all .4s;
}

.arrow_color:hover {
    color: rgb(250, 98, 98);
}


.card_style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: auto; */
    width: auto;
    height: 400px;
}

.all_cards_father {
    margin: 0px;
    padding: 0px;

}




.card_style_alimant {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 205px;
    width: 450px;
    padding: 10px;
    background-color: #373948;
    border-radius: 4px;
    border: 10px solid #fcfdfd;
    box-shadow: 0px 2px 10px 0px gainsboro;
    transition: all .6s !important;

}

.card_style_bottum {
    margin-bottom: 100px;
    justify-content: center;

}

.card_style_alimant:hover {
    background-color: #13141a;

}

.card_style_alimant_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    padding: 5px;
    border: none;
    border-radius: 20px;
    transition: all .4s;

}

.card_style_alimant_button:hover {
    background: #5d92f5;
    cursor: pointer;
}


@media screen and (max-width: 450px) {

    .background_image_div {
        /* margin-left: 30px; */
        margin: auto;
    }

    .logo {
        height: 50px;
        border-radius: 0px 0px 25px 0px;
        padding: 3px 10px 10px 3px;

    }


    .background_image_h2 {
        font-size: 20px;
    }

    .right_maunten {
        display: none;
    }

    .card_style {
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
        /* display: flex; */
        /* flex-wrap: wrap; */

    }


    .card_style_alimant {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        border-radius: 5px;
        width: 190px;
        padding: 0px 10px;

        /* padding: 20px 5px; */
    }

    .card_style_bottum {
        margin-bottom: 50px;
    }


    .footer_flex {
        flex-direction: column;
    }


    element.style {}

    * {
        margin: 0px;
        box-sizing: border-box;
        padding: 0px;
        font-family: "Work Sans";
    }

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    user agent stylesheet h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }

    .MORE_OPTIONS {
        font-size: 15px;
    }

}