* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-family: "Work Sans";
}

a {
    text-decoration: none;
}

body {
    background-color: #6075e5;
}

.logo {
    position: absolute;
    width: auto;
    height: 100px;
    z-index: 10;
    background-color: #e69138;
    border-radius: 0px 0px 40px 0px;
    padding: 5px 20px 20px 5px;
}

.background_image {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fce5cd;
    height: 500px;
}

.background_image div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 0px 0px 200px;
}

.background_image_h2 {
    font-size: 40px;
    color: #351c75;
    border-radius: 10px;
    width: auto;
    margin: 140px 0px 0px 0px;
    padding: 10px 20px;

}

.background_image_h4 {
    font-size: 30px;
    margin: 20px auto;
    color: #e69138;
}

.right_maunten {
    display: flex;
    width: 250px;
    height: 500px;
    border-left: 1px solid gray;
    background-color: #f7e1c7;
    padding: 20px;
    transition: all .4s;
}

.right_maunten:hover {
    background-color: #f7d7b5;
    cursor: pointer;
}

.right_maunten ul li {
    list-style: none;
    line-height: 60px;
    font-weight: bold;
    color: #e69138;
    transition: all .4s;
}

.right_maunten ul li:hover {
    color: #351c75;
    cursor: pointer;
}

.scroll_down {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #fcfdfd;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.scroll_down h2 {
    color: #ce8908;
    font-size: 25px;
}

.scroll_down img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    /* background-color: #fff; */
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #fff !important;
    border-radius: 20px 20px 20px 20px;
    font-size: 12px;
}

.js_and_css_button {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0px auto;
    padding: 20px 0px;
    height: 100px;
    width: 100%;
    background-color: #351c75;
    box-shadow: 0px 2px 10px 0px grey;
}

.js_and_css_button_one {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #f7d7b5;
    background-color: #699eff;
    font-size: 20px;
    padding: 20px 40px;
    /* border: 1px solid rgb(105, 99, 91); */
    border-radius: 10px;
    transition: all .3s;
    text-decoration: none;
}

.js_and_css_button_border {
    width: 1px;
    height: 80px;
    border-left: 1px solid gray;
}

.js_and_css_button_one:hover {
    background-color: #0a5ffc;
    cursor: pointer;
}



/* ------------------js_and_css_button------------------------------ */
.SOURCES_color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    color: #e69138;
}

.SOURCES_color h4 {
    color: rgb(250, 248, 248);
    width: auto;
    font-size: 20px;
}

.MORE_OPTIONS {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

/* -------------------------------------------------------------------------- */

.card_style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: auto;
    height: 400px;
}





.card_style_alimant {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    height: 200px;
    width: 400px;
    padding: 40px;
    background-color: #373948;
    border-radius: 4px;
    margin: auto;
    border: 10px solid #fcfdfd;
    box-shadow: 0px 2px 10px 0px gray;
    transition: all .6s !important;
}

.card_style_alimant:hover {
    background-color: #13141a;

}

.card_style_alimant_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    padding: 5px;
    border: none;
    border-radius: 20px;
    transition: all .4s;

}

.card_style_alimant_button:hover {
    background: #5d92f5;
    cursor: pointer;
}

.top_button_menu {
    border-radius: 50%;
}

.top_button_submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 250px;
    width: 250px;
    font-size: 20px;
    background-color: #373948;
    color: #fc870a;
    /* z-index: 10; */
    margin-right: 40px;
    text-decoration: none;
    border: 6px solid #fc870a;
    border-radius: 50%;
    cursor: pointer;
}

.top_button_submenu h2 {
    border-top: 4px solid #fc870a;
    border-bottom: 4px solid #fc870a;
    padding: 10px;
}

/* .top_button_menu_border {
    border: 10px solid #323235;
    background-color: #fff;
    border-radius: 20px 0px 0px 0px;
} */


.futter {
    width: 100%;
    height: 400px;
    background-color: #323235;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 60px 0px 0px;
}

.futter b {
    color: #f7d7b5;
    font-size: 40px;
}